footer {
    background-color: #1baf5d;
}
a {
    color: white;
    text-decoration: none;
}
.footer {
    margin: 0% 15%;
    display: flex;
    flex-direction: column;
}
.footer__nav {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3%;
}
.nav__col {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.copyright {
    text-align: center;
    color: white;
}