.header {
	display: flex;
	justify-content: space-between;
    background-color: rgb(255, 255, 255);
    padding: 1%;
}
.logo {
    align-self: center;
    font-size: 1.2em;
}
.login, .signup {
    padding: 9px;
}
.signup, .login, .logo, .authorization__dashboard, .logout__button  {
    text-decoration: none;
    color: black;
}
.logout__button {
    border: 0;
    background-color: white;
    cursor: pointer;
}
.authorization {
    display: flex;
}
.authorization__dashboard {
    padding: 0% 3%;
}